# Carpetas
.vscode/
.vscode/*
.webs/
.webs/*
lib/__pycache__/
logs/bot/*
logs/manga_updates/*
selenium_help/
selenium_help/*
test_files/
test_files/*

# Archivos
db/manga_tracker.db
db/manga_tracker - copia.db
key/admin_telegram_id
key/manga_checker_box_passwd
key/manga_checker_box_token
db/test_db.py
json/record.json
logs/logs.txt
test_bot.py
test_db.py
test_mwu.py
test_py.py
test_selenium.py
notas.txt
mytracks.txt
