# Carpetas
.vscode/
.vscode/*
.webs/
.webs/*
lib/__pycache__/
selenium_help/
selenium_help/*
test_files/
test_files/*

# Archivos
db/manga_tracker.db
db/manga_tracker - copia.db
key/manga_checker_box_passwd
key/manga_checker_box_token
db/test_db.py
json/manga_data.json
json/webs.json
logs/logs.txt
test_bot.py
test_db.py
test_mwu.py
test_py.py
